$primary-color: #372123;

body {
	padding: 0px 50px;
	color: $primary-color;
}

ul {
	list-style-type: none;
	
	li {
		display: inline-block;
		padding: 0px 10px;
	}
}

a {
	text-decoration: none;
	font-size: 1.2em;
	&:link     { color: $primary-color; }
	&:visited     { color: $primary-color; }
	&:active      { color: $primary-color; }
	
	&.router-link-active {
		 color: #D1A86A; 
	} 
}

nav {
	border-bottom: 2px solid black;
	
	ul {
		padding: 0px;
	}
}

table {
	td {
		padding: 5px 30px;
	}
	
	tr {
		transition: background-color 0.3s;		
	}
	
	tbody tr:hover{
		cursor: pointer;
		background-color: #DAF4FF;
	}
	
	th {
		padding: 5px 30px;
		text-transform: uppercase;
		font-size: 0.7em;
		color: #A5A5A5;
		text-align: left;
	}
}

.form, form {
	padding-top: 20px;
	
	label {
		width: 110px;
		display: inline-block;
		margin-bottom: 12px;
	}
	
	.operations {
		padding-top: 20px;
		padding-left: 200px;
	}
	
	.ng-invalid{
		border: 1px solid red;
	}
	
	button{
		&.disabled {
			color: #c0c0c0;
		}
	}
}