<nav> 
	<h1> Angular2 playground by Lego </h1>
	<ul>
		<li> 
			<a [routerLink]="['UsersList']" > Users </a> 
		</li>
        <li> 
			<a [routerLink]="['Forms']" > Forms </a>  
		</li>		
        <li> 
			<a [routerLink]="['About']" > About </a>  
		</li>
	</ul> 
</nav> 

<div class="wrapper">
	<router-outlet></router-outlet>
</div>