<h2>Users</h2>

<table> 
	<thead>
		<tr>
			<th> FirstName </th>
			<th> LastName </th>
			<th> City </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#item of data" (click)="onSelect(item)"> 
			<td> {{item.FirstName}} </td>
			<td> {{item.LastName}} </td>
			<td> {{item.City}} </td>
		</tr>
	</tbody>
</table>
	
<!-- <user-detail [selected-user]="selectedUser"> </user-detail> -->
