<h2>User detail - {{user.FirstName}} {{user.LastName}} </h2>

<button type="button" (click)="cancel()" > Go back </button>

<form class="form" *ngIf="user" (ngSubmit)="save()" #userForm="ngForm">
	<div>
		<label>Firstname: </label>
		<input [(ngModel)]="editedUser.FirstName" required placeholder="Firstname" ngControl="firstname" #firstname="ngForm" />
	</div>		
	<div>
		<label>Lastname: </label>
		<input [(ngModel)]="editedUser.LastName" required placeholder="Lastname" ngControl="lastname" #lastname="ngForm" />
	</div>
	<div>
		<label>City: </label>
		<input [(ngModel)]="editedUser.City" placeholder="City" ngControl="city" />
	</div>
	<div class="operations">
		<button type="submit" [class.disabled]="!userForm.form.valid" [disabled]="!userForm.form.valid"> Save </button>
		<button (click)="reset()" [class.disabled]="!userForm.form.dirty" > Cancel </button>
	</div>
	<div> 
		<p [hidden]="firstname.valid">First name is required</p>
		<p [hidden]="lastname.valid">Last name is required</p>		
	</div>
</form>